@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

$darkBlue: #00014D;
$imgShadow: 2px 4px 6px rgba(0, 0, 0, 0.4);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(252, 249, 245);
}

nav {
  position: fixed;
  width: 185px;
  height: 100vh;
  left: 0;
  background-color: rgb(0, 0, 29);
  padding: 30px;
  transition: ease-in-out 0.5s;

  &:hover {
    width: 250px;
  }
}

#menu img {
  width: 100%;
}

/*#mail {
  padding-left: 20vw;
}*/

nav li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 12px 0;
}

.active {
  color: red;
}

footer {
  padding: 200px;
  background-color: rgb(0, 0, 22);
  margin-left: 240px;

  p,
  a {
    font-size: 16px;
    color: rgb(201, 201, 201);

    a:hover {
      color: blue;
    }
  }
}

h1 {
  font-size: 70px;
  font-family: 'Playfair Display', 'Cormorant Garamond', serif;
  font-weight: 400;
  color: rgb(0, 1, 77);
  margin-top: 120px;
  max-width: 900px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 30;
  padding-top: 60px;
}

h4,
h5 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  color: lightgray;
  font-weight: 400;
}

h4 {
  margin: 20px 0 10px;
  font-size: 24px;
}

h5 {
  margin-bottom: 40px;
  font-size: 13px;
}

h6 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p,
.container li {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}

p,
.container li {
  max-width: 700px;
  margin-top: 8px;
}

.container {
  ul {
    padding: 20px;
  }

  li {
    padding: 8px;
    list-style-type: square;
  }
}

.kildeliste li {
  list-style-type: none;
}

.container {
  a {
    color: black;
  }

  img {
    width: 100%;
    max-width: 700px;
    max-height: 80vw;
    margin: 40px 0;
  }
}

.border {
  outline: 4px solid $darkBlue;
  outline-offset: -2px;
  -moz-box-shadow: $imgShadow;
  -webkit-box-shadow: $imgShadow;
  box-shadow: $imgShadow;
}

nav a {
  text-decoration: underline;
  color: lightgray;
  font-size: 15px;
}

li a:hover {
  color: rgb(255, 255, 255);
}

#kilder {
  &:hover {
    color: rgb(255, 255, 255);
  }

  color: rgb(116, 114, 134);
}

nav li {
  padding: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:hover {
    margin-left: 15px;
  }
}

nav li:nth-child(3) {
  padding-top: 25px;
}

.kildeliste {
  li {
    margin-left: -25px;
  }

  a:hover {
    color: rgb(0, 3, 207);
  }
}

.container a:hover {
  color: rgb(0, 3, 207);
}

.formel {
  height: 40px;
  max-width: 500px;
  margin: 0;
  text-align: left;
}

.container {
  margin-left: 240px;
  padding: 150px;
  display: flex;
}

img {
  object-fit: contain;
  max-height: 80vh;
}

.karikatur {
  height: 80vh;
  object-fit: contain;
  background-image: url(img/karikatur1.png);
  background-repeat: no-repeat;
  background-size: contain;

  &:hover {
    background-image: url(img/karikatur2.png);
  }
}

.left-half,
.right-half {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.shadow-low {
  -moz-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.6);
}

/* ----------------------- iframe ------------------------ */
.iframeContainer {
  margin-top: 40px;
  position: relative;
  width: 700px;
  overflow: hidden;
  padding-top: 39%;
  /* 700:395 Aspect Ratio */
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* ----------------------- Mobile dropdown menu ------------------------ */
/* Hide checkbox */

[id^=overlay-input] {
  display: none;
}

/* Media Queries
------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*----------------------------------------------------widescreen------------------------------------------------------------------------------------*/
/*@media (min-aspect-ratio: 16 / 9) {
     nav header
    #menu {
        height: 70px;
        &:hover {
            height: 150px;
        }
    }
    nav, #menu img{
    padding: 0;
    width: 100%;
    height: 80px;
    &:hover {
        width: 100%;
        height: 150px;
    }
    & a {
        font-size: 17px;
    }
    & li {
        padding: 12px 50px;
        transition: ease-in-out 0.4s;
        &:hover {
            padding: 20px 50px;
        }
    }
  }
  #menu, #menu img, #menu ul, #menu h5 {
    display: flex;
    flex-direction: row;
  }
  #menu img {
      transition: ease-in-out 0.5s;
  }
  nav li:nth-child(3) {
    padding-top: 12px;
    &:hover {
        padding-top: 20px;
    }
  }
  h5 {
      padding-top: 12px;
      margin-bottom: unset;

  }
  h4 {
      margin: 12px 0;
  }
}*/

/*--------------------------------------------------------ipad---------------------------------------------------------------------------------------*/
@media (max-aspect-ratio: 9 / 8) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-left: 0;
    padding: 120px 70px;
  }

  footer {
    margin-left: 0;
    padding: 200px;

    p,
    a {
      font-size: 40px;
    }
  }

  #menu img {
    max-height: 50vw;
    margin-bottom: 30px;
  }

  .container img {
    max-width: unset;
    max-height: unset;
  }

  h1 {
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    margin: 25px 0 10px;
    font-size: 40px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 22px;
  }

  p,
  .container li {
    max-width: 80vw;
    font-size: 26px;
    padding: 0;

  }

  .formel {
    height: 50px;
  }

  .container li {
    padding-top: 10px;
  }

  nav a {
    font-size: 24px;
  }

  nav li {
    -webkit-transition: 0.0s;
    transition: 0.0s;
  }

  .karikatur {
    margin: 90px 0 0 0px;
  }

  .kildeliste li {
    padding: 50px 0 0 0px;
    margin-left: -15px;
  }

  .iframeContainer {
    width: 100%;
    padding-top: 56.4286%;
    /* 700:395 Aspect Ratio */
  }

  /*---------------------------------------------------------------------------nav---------------------------------------------------------------------------------------*/
  /* Hide the nav */

  nav {
    width: 0;
    padding: 0;

    &:hover {
      width: 0;
    }
  }

  /* Hide the navigation menu by default */

  #menu {
    height: 100vh;
    width: 40vw;
    padding: 40px;

    /*transition: all 0.3s ease-in-out;
    background: transparent;*/
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  @keyframes bugfix {
    from {
      padding: 0;
    }

    to {
      padding: 0;
    }
  }

  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }

    to {
      padding: 0;
    }
  }

  #overlay-button {
    position: absolute;
    left: 0;
    top: 0;
    padding: 6em 3em;
    z-index: 9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span {
      height: 8px;
      width: 70px;

      /*border-radius: 4px;*/
      background-color: $darkBlue;
      position: relative;
      display: block;
      -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
      box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;

      &:before {
        top: -20px;
        visibility: visible;
      }

      &:after {
        top: 20px;
      }

      &:before,
      &:after {
        height: 8px;
        width: 70px;
        background-color: $darkBlue;
        -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
        position: absolute;
        content: "";
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
    }
  }

  input[type=checkbox] {
    display: none;

    &:checked~ {
      #menu {
        visibility: visible;
        background: rgb(0, 0, 29);
      }

      #overlay-button span {
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;

        &:before {
          -webkit-transform: rotate(45deg) translate(14px, 14px);
          transform: rotate(45deg) translate(14px, 14px);
          opacity: 1;
          background-color: #F4A27C;
          -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
        }

        &:after {
          -webkit-transform: rotate(-45deg) translate(14px, -14px);
          transform: rotate(-45deg) translate(14px, -14px);
          background-color: #F4A27C;
          -webkit-box-shadow: -20px 20px 30px black;
          box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

/* ----------------------------------------------------phone size ------------------------------------------------------------------*/
@media (max-aspect-ratio: 6 / 8) {
  #menu {
    width: 72vw;
  }

  h1 {
    font-size: 100px;
    margin-top: 50px;
  }

  h2,
  h4 {
    font-size: 56px;
  }

  div h4 {
    text-align: center;
  }

  h5 {
    font-size: 40px;
  }

  h6 {
    font-size: 35px;
  }

  p,
  .container li {
    max-width: 90vw;
    font-size: 45px;
  }

  .formel {
    height: 85px;
    max-width: unset;
  }

  .container li {
    padding-top: 16px;
  }

  .kildeliste li {
    padding: 70px 0 0 0;
  }

  nav a {
    font-size: 44px;
  }

  .karikatur {
    margin: 70px 0 0 -11vw;
  }

  #overlay-button {
    position: absolute;
    left: 78vw;
    top: unset;
    bottom: 90px;

    span {
      height: 12px;
      width: 90px;

      &:before,
      &:after {
        height: 12px;
        width: 90px;
      }

      &:before {
        top: -25px;
      }

      &:after {
        top: 25px;
      }
    }
  }

  input[type=checkbox]:checked~#overlay-button span {
    &:before {
      -webkit-transform: rotate(45deg) translate(18px, 18px);
      transform: rotate(45deg) translate(18px, 18px);
    }

    &:after {
      -webkit-transform: rotate(-45deg) translate(18px, -18px);
      transform: rotate(-45deg) translate(18px, -18px);
    }
  }
}