@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body {
  background-color: rgb(252, 249, 245);
}

nav {
  position: fixed;
  width: 185px;
  height: 100vh;
  left: 0;
  background-color: rgb(0, 0, 29);
  padding: 30px;
  transition: ease-in-out 0.5s;
}

nav:hover {
  width: 250px;
}

#menu img {
  width: 100%;
}

nav li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 12px 0;
}
.active {
  color: red;
}
h1 {
  font-size: 70px;
  font-family: 'Playfair Display', 'Cormorant Garamond', serif;
  font-weight: 400;
  color: rgb(0, 1, 77);
  margin-top: 120px;
  max-width: 900px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 30;
  padding-top: 60px;
}

h4,
h5 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  color: lightgray;
  font-weight: 400;
}

h4 {
  margin: 20px 0 10px;
  font-size: 24px;
}

h5 {
  margin-bottom: 40px;
  font-size: 17px;
}
h6 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p,
.container li {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
}

p {
  max-width: 700px;
  margin-top: 8px;
}

.container ul {
  padding: 20px;
}

.container li {
  padding: 8px;
  list-style-type: square;
}
.kildeliste li {
  list-style-type: none;
}
.container a {
  color: black;;
}
.container img {
  width: 100%;
  max-height: 80vw;
  margin: 40px 0 40px 0;
}

nav a {
  text-decoration: underline;
  color: lightgray;
  font-size: 19px;
}

li a:hover,
#kilder:hover {
  color: rgb(255, 255, 255);
}

#kilder {
  color: rgb(116, 114, 134);
}
.kildeliste li{
  margin-left: -25px;
}
.kildeliste a:hover, .container a:hover{
  color: rgb(0, 2, 112);
}

.container {
  margin-left: 240px;
  padding: 150px;
  display: flex;
}

img {
  object-fit: contain;
  max-height: 80vh;
}
.karikatur {
  height: 80vh;
  object-fit: contain;
  background-image: url(img/karikatur1.png);
  background-repeat: no-repeat;
  background-size: contain;

}
.karikatur:hover {
  background-image: url(img/karikatur2.png);
}

.left-half,
.right-half {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.shadow-low {
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.6);
}

/* ----------------------- Mobile dropdown menu ------------------------ */
/* Hide checkbox */
[id^=overlay-input] {
  display: none;
}


/* Media Queries
------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*----------------------------------------------------widescreen------------------------------------------------------------------------------------*/
@media (min-aspect-ratio: 16 / 8) {
  #menu {
    width: 30vw;
  }
  #menu img {
    width: 50%;
  }

}

/*--------------------------------------------------------ipad---------------------------------------------------------------------------------------*/
@media (max-aspect-ratio: 9 / 8) {

  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-left: 0;
    padding: 120px 70px;
  }

  #menu img {
    max-height: 50vw;
    margin-bottom: 30px;
    float: left;
  }

  h1 {
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    margin: 25px 0 10px;
    font-size: 40px;
  }

  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 22px;
  }

  p,
  .container li {
    max-width: 80vw;
    font-size: 26px;
    padding: 0;
  }
  .container li {
    padding-top: 10px;
  }

  nav a {
    font-size: 30px;
  }
  .karikatur {
    margin: 90px 0 0 0px;
  }
  .kildeliste li {
    padding: 50px 0 0 0px;
    margin-left: -15px;
  }
  /*---------------------------------------------------------------------------nav---------------------------------------------------------------------------------------*/
  /* Hide the nav */
  nav {
    width: 0;
    padding: 0;
  }

  nav:hover {
    width: 0;
  }

  /* Hide the navigation menu by default */
  #menu {
    height: 100vh;
    width: 40vw;
    padding: 40px;
    /*transition: all 0.3s ease-in-out;
    background: transparent;*/
    visibility: hidden;
  }

  #menu.active {
    visibility: visible;
  }

  @keyframes bugfix {
    from {
      padding: 0;
    }

    to {
      padding: 0;
    }
  }

  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }

    to {
      padding: 0;
    }
  }

  #overlay-button {
    position: absolute;
    left: 0;
    top: 0;
    padding: 6em 3em;
    z-index: 9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #overlay-button span {
    height: 8px;
    width: 70px;
    /*border-radius: 4px;*/
    background-color: #00014D;
    position: relative;
    display: block;
    -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  #overlay-button span:before {
    top: -20px;
    visibility: visible;
  }

  #overlay-button span:after {
    top: 20px;
  }

  #overlay-button span:before,
  #overlay-button span:after {
    height: 8px;
    width: 70px;
    background-color: #00014D;
    -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    content: "";
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked~#menu {
    visibility: visible;
    background: rgb(0, 0, 29);
  }

  input[type=checkbox]:checked~#overlay-button span {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  input[type=checkbox]:checked~#overlay-button span:before {
    -webkit-transform: rotate(45deg) translate(14px, 14px);
    transform: rotate(45deg) translate(14px, 14px);
    opacity: 1;
    background-color: #F4A27C;
    -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  input[type=checkbox]:checked~#overlay-button span:after {
    -webkit-transform: rotate(-45deg) translate(14px, -14px);
    transform: rotate(-45deg) translate(14px, -14px);
    background-color: #F4A27C;
    -webkit-box-shadow: -20px 20px 30px black;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  }
}

/* ----------------------------------------------------phone size ------------------------------------------------------------------*/
@media (max-aspect-ratio: 6 / 8) {
  #menu {
    width: 72vw;
  }

  h1 {
    font-size: 100px;
    margin-top: 50px;
  }

  h2, h4 {
    font-size: 56px;
  }

  div h4 {
    text-align: center;
  }

  h5 {
    font-size: 40px;
  }
  h6 {
    font-size: 35px;
  }

  p,
  .container li {
    max-width: 90vw;
    font-size: 45px;
  }
  .container li {
    padding-top: 16px;
  }
  .kildeliste li {
    padding: 70px 0 0 0;
  }

  nav a {
    font-size: 44px;
  }
  .karikatur {
    margin: 70px 0 0 -11vw;
  }

  #overlay-button {
    position: absolute;
    left: 78vw;
    top: unset;
    bottom: 100px;
  }
  #overlay-button span,
  #overlay-button span:before,
  #overlay-button span:after {
    height: 16px;
    width: 140px;
  }
  #overlay-button span:before {
    top: -40px;
  }

  #overlay-button span:after {
    top: 40px;
  }
  input[type=checkbox]:checked~#overlay-button span:before {
    -webkit-transform: rotate(45deg) translate(29px, 29px);
    transform: rotate(45deg) translate(29px, 29px);
  }

  input[type=checkbox]:checked~#overlay-button span:after {
    -webkit-transform: rotate(-45deg) translate(29px, -29px);
    transform: rotate(-45deg) translate(29px, -29px);
  }
}